@font-face {
	font-family: 'Lucida Sans Unicode';
	src: url('fonts/6623.eot');
	src: local('☺'), url('fonts/6623.woff') format('woff'), url('fonts/6623.ttf') format('truetype'), url('fonts/6623.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lucida Grande';
	src: url('fonts/8291.eot');
	src: local('☺'), url('fonts/8291.woff') format('woff'), url('fonts/8291.ttf') format('truetype'), url('fonts/8291.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
.border_b {
    background-color: #3399cc;
    border: 14px solid #2b81ac;
}
header {
    margin: 25px 0 25px;
}
header h1 {
    font-family: 'Lucida Sans Unicode';
    font-size: 30px;
}
.town_list {
    font-size: 0;
    /*для того, чтобы ли не скакали на новый ряд*/
    margin-bottom: 27px;
    /* border: 3px solid #fff; */
    padding: 3px;
    /*для эф рамки*/
    background-color: #fff;
}
.container {
    max-width: 983px;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    font-family: 'Lucida Sans Unicode';
}
.town {
    font-size: 25px;
    border: inherit;
    display: inline-block;
    text-align: center;
    padding: 28px 0 34px;
    margin: 3px;
}
.degrees {
    opacity: .6;
    margin-top: 10px;
    font-family: 'Lucida Grande';
    font-size: 28px;

}
.lisbon, .san_fr {
    width: calc(50% - 6px);
}
.paris, .belgrade, .moscow, .tel_aviv, .cair, .new_york, .new_delhi, .tokyo {
    width: calc(25% - 6px);
}
/*цвета для фонов ли*/
.sydney {
    width: calc(100% - 6px);
    background-color: #666699;
}
/*ширину и высоту калькулируем для рамки, чтобы не скакали лишки*/
.lisbon {
    background-color: #3399cc;
}
.paris {
    background-color: #33cccc;
}
.belgrade {
    background-color: #996699;
}
.moscow {
    background-color: #c24747;
}
.tel_aviv {
    background-color: #e2674a;
}
.cair {
    background-color: #ffcc66;
}
.new_york {
    background-color: #99cc99;
}
.new_delhi {
    background-color: #669999;
}
.san_fr {
    background-color: #cc6699;
}
.tokyo {
    background-color: #339966;
}
/*магия --- для выделения одной ли при наведении --- */
.town_list:hover .town:not(:hover){
    opacity: .6;
    transition: .3s all ease;
}
footer {
    /* padding-top: 7px; */
    margin-bottom: 20px;
    font-family: 'Lucida Grande';
    font-size: 22px;
    letter-spacing: .17px;
}
i {
    font-size: 35px;
}