@charset "UTF-8";
@import url(_reset.scss);
@import url(social_media.scss);
body {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1110px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.sb {
  justify-content: space-between;
}

main {
  height: 100%;
  width: 100%;
}

.maintitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: 5.5px;
}

#home {
  background-color: #5fa9cd;
  background-image: url(../images/fon_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 266px 0 134px;
}
#home .main_wrap {
  max-width: 650px;
  width: 90%;
  margin: 0 auto;
}
#home .main_wrap .maintitle {
  margin-bottom: 7px;
}
#home .main_wrap .subtitle {
  margin-bottom: 48px;
}
#home .main_wrap .scroll {
  width: 94px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  position: relative;
}
#home .main_wrap .scroll:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 44%;
  bottom: -19px;
  transform: rotate(45deg);
}

.form {
  width: 100%;
  margin-bottom: 141px;
  position: relative;
}
.form input {
  width: 100%;
  color: #999999;
  letter-spacing: 2px;
  word-spacing: 0;
  text-shadow: none;
  text-align: center;
  background-color: #fff;
  font: 400 14px "Josefin Sans";
  padding: 24px 2px 23px;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
  outline: none;
}
.form input::placeholder {
  margin-left: 150px;
}
.form input:active {
  box-shadow: 0 2px 5px 2px rgba(84, 116, 253, 0.5);
}
.form input:focus {
  background-color: #a2c0cf;
  color: #fff;
}
.form .btn {
  position: absolute;
  right: 2px;
  top: 2px;
  outline: none;
  text-decoration: none;
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  background-color: #5474fd;
  padding: 14px 16px 16px 37px;
  cursor: pointer;
  transition: all 0.6s ease;
}
.form .btn:hover {
  background-color: #3458f8;
  color: #efefef;
}
.form .btn .minisearch {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 15px;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  max-width: inherit;
  z-index: 99;
  transition: all 0.2s ease;
  background-color: #5474fd;
}
.header .nav_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header .nav_wrap .logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.nav_list {
  display: flex;
  justify-content: flex-end;
}
.nav_list .list_item-link {
  display: inline-block;
  text-decoration: none;
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.8s ease;
  margin-left: 43px;
}
.nav_list .list_item-link:hover {
  border-bottom: 3px solid #fff;
}
.nav_list .list_item-link:active {
  border-bottom: 3px solid #fff;
}

.hamburger {
  display: none;
}

.content_wrap {
  width: calc(50% - 15px);
}

#who {
  background-color: #3f3938;
  background-image: url(../images/fon_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0 118px;
}
#who .container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#who .container .content_wrap {
  padding: 82px 0 10px;
}
#who .container .content_wrap .content_h {
  margin-bottom: 57px;
}
#who .container .content_wrap .content_par {
  margin-bottom: 45px;
}
#who .container .image_wrap {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#who .container .image_wrap .image_top {
  margin: 0 125px 4px;
}

.wrapper {
  position: relative;
}
.wrapper::before {
  content: "";
  padding-top: 100%;
  width: 100%;
}
.wrapper img.lazy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_h {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.content_par {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 1px;
}

.button a {
  display: inline-block;
  text-decoration: none;
  font-family: "Aleo", serif;
  font-size: 16px;
  letter-spacing: 1.1px;
  line-height: 16px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #5474fd;
  padding: 22px 38px;
  cursor: pointer;
  transition: all 0.6s ease;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.button a:after {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 50%;
  height: 100%;
  background-color: #496bfe;
  transition: all 1.2s ease;
  transform: skew(45deg);
  z-index: -1;
}
.button a:hover:after {
  width: 150%;
}

#search {
  background-color: #333333;
  padding: 98px 0 112px;
}
#search .search_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
#search .search_content::after {
  content: "";
  display: inline-block;
  width: 75%;
  height: 100%;
  background-image: url(../images/dots.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  position: absolute;
  left: 12%;
  top: -40%;
}
#search .search_content svg {
  width: 62px;
  height: 62px;
  position: relative;
  overflow: hidden;
  background-color: #333333;
  cursor: pointer;
  margin-bottom: 24px;
}
#search .search_content .maxsearch {
  fill: #5474fc;
}
#search .search_content .maxsearch:hover {
  fill: #2e54fa;
}
#search .search_content .bird {
  fill: #ff6363;
}
#search .search_content .bird:hover {
  fill: #fa3c3c;
}
#search .search_content .finger {
  fill: #1b6691;
}
#search .search_content .finger:hover {
  fill: #30a1e2;
}
#search .search_content .search_content-item {
  width: calc(33.3333% - 15px);
  text-align: center;
  z-index: 2;
}

.circle {
  position: relative;
}
.circle::after {
  content: "";
  display: inline-block;
  width: 105px;
  height: 105px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  left: -24px;
  top: -90px;
  z-index: -1;
}

#what, #travel {
  background-color: #958caa;
  background-image: url(../images/fon_3.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0 98px;
}
#what .container, #travel .container {
  display: flex;
  justify-content: flex-start;
}
#what .container .content_wrap, #travel .container .content_wrap {
  padding: 50px 30px 46px;
  background-color: rgba(51, 51, 51, 0.9);
  width: calc(50% - 15px);
}
#what .container .content_wrap .section_ttl, #travel .container .content_wrap .section_ttl {
  opacity: 0.9;
  margin-bottom: 30px;
}
#what .container .content_wrap .section_ttl-up, #travel .container .content_wrap .section_ttl-up {
  margin-bottom: 21px;
}
#what .container .content_wrap .content_par, #travel .container .content_wrap .content_par {
  letter-spacing: 0.1px;
  margin-bottom: 43px;
}
#what .container .content_wrap a, #travel .container .content_wrap a {
  padding: 22px 62px;
}

.section_ttl {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.section_ttl-up {
  text-transform: uppercase;
}

#travel {
  background-color: #ff9076;
  background-image: url(../images/fon_4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0 100px;
}
#travel .container {
  width: 90%;
  justify-content: flex-end;
}

#review {
  background-color: #292b2c;
  background-image: url(../images/fon_5.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 0 200px;
}
#review .content_h {
  text-align: center;
  margin-bottom: 94px;
}
#review .review_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#review .review_wrap .img_wrap {
  width: 40%;
}
#review .review_wrap .content_wrap {
  width: 60%;
  padding: 51px 40px 40px 60px;
  background-color: #333;
  opacity: 0.9;
}
#review .review_wrap .content_wrap .section_ttl {
  margin-bottom: 40px;
}
#review .review_wrap .content_wrap .content_par {
  letter-spacing: 0.1px;
}
#review .review_wrap .content_wrap .content_par:before {
  content: "“";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  position: relative;
  top: 5px;
  font-weight: 700;
  line-height: 0;
  display: inline-block;
  color: #5474fd;
}

.footer {
  background-color: #232323;
  width: 100%;
  padding: 120px 0 50px;
}
.footer .footer_wrap {
  max-width: 90%;
  width: 170px;
  margin: 0 auto;
}
.footer .footer_wrap .maintitle {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 12px;
}
.footer .footer_wrap .subtitle {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 28px;
  letter-spacing: 0.5px;
  text-align: center;
}

.soc_list {
  display: flex;
  justify-content: space-between;
}
.soc_list li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.soc_list li a:hover {
  color: #4d69e0;
}