@import url(_reset.scss);
@import url(social_media.scss);
// подключить шрифты
// написать миксин для шрифта
// написать переменные, вынести их в отдельный файл - цвета или повторяющееся фрагменты
$base_font:16;
$base_color:#fff;
$blue_col:#5fa9cd;
$lightblue_col:#a2c0cf;
$gray_col:#999999;
$for_btn_col:#5474fd;
$for_btnhov_col:#3458f8;
$for_halfbtn_col:#496bfe;
$who_bg_col:#3f3938;
$search_bg_col:#333333;
$what_bg_col:#958caa;
$trav_bg_col:#ff9076;
$rev_bg_col:#292b2c;
$foot_bg_col:#232323;
$svg_s_col:#5474fc;
$svg_s2_col:#2e54fa;
$svg_b_col:#ff6363;
$svg_b2_col:#fa3c3c;
$svg_f_col:#1b6691;
$svg_f2_col:#30a1e2;
$soc_hov_col:#4d69e0;

@mixin fz($rem){
    font-size: ($rem/$base_font)+rem;
}
html{
    font-size: 16px;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    color: $base_color;
}
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1110px;
}
main {
    width: 100%;
}
.maintitle {
    @include fz(48);
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}
.subtitle {
    @include fz(22);
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    letter-spacing: 5.5px;
}
.content_h {
    font-family: 'Aleo', serif;
    font-weight: 400;
    @include fz(36);
    line-height: 36px;
}
.content_par {
    @include fz(16);
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 1px;
}
.section_ttl {
    font-weight: 400;
    @include fz(20);
    line-height: 20px;
    color: #fff;
}
.section_ttl-up{
    text-transform: uppercase;
}
.fixed{
    position:fixed;
    top:0;
    width: 100%;
    max-width: inherit;
}
#home {
    width: 100%;
    background: $blue_col url(../images/fon_1.png) no-repeat;
    background-size: cover;
    padding: 266px 0 154px;
    .main_wrap {
        max-width: 650px;
        width: 90%;
        margin: 0 auto;
        .maintitle{
            margin-bottom: 7px;
        }
        .subtitle{
            margin-bottom: 48px;
        }
        .scroll {
            width: 94px;
            display: block;
            margin: 0 auto;
            @include fz(14);
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 1.5px;
            position: relative;
            &:after{
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                background: transparent;
                border-right: 2px solid $base_color;
                border-bottom: 2px solid $base_color;
                position: absolute;
                left: 44%;
                bottom: -19px;
                -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                // поправить позицию по пп
            }

        }
    }
}
.form {
    width: 100%;
    margin-bottom: 120px;
    position: relative;
    input {
        width: 100%;
// ===
        color: $gray_col;
        letter-spacing: 2px;
        word-spacing: 0;
        text-shadow: none;
        text-align: center;
        background-color: $base_color;
        font: 400 14px 'Josefin Sans';
        padding: 24px 2px 23px;
        border-width: 0;
        border-style: none;
        border-color: 0;
        -o-border-image: none;
           border-image: none;
        outline: none;
        &::-webkit-input-placeholder {
            margin-left: 150px;
        }
        &::-moz-placeholder {
            margin-left: 150px;
        }
        &:-ms-input-placeholder {
            margin-left: 150px;
        }
        &::-ms-input-placeholder {
            margin-left: 150px;
        }
        &::placeholder {
            margin-left: 150px;
        }
        // box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .5);
        &:active {
            -webkit-box-shadow: 0 2px 5px 2px rgba(84, 116, 253, .5);
                    box-shadow: 0 2px 5px 2px rgba(84, 116, 253, .5);
        }
        &:focus {
            background-color: $lightblue_col;
            color: $base_color;
        }
    }
    .btn {
        position: absolute;
        right: 2px;
        top: 2px;
        outline: none;
        text-decoration: none;
        font-family: 'Aleo', serif;
        @include fz(14);
        line-height: 20px;
        letter-spacing: .1px;
        color: $base_color;
        font-weight: 400;
        text-transform: uppercase;
        border: none;
        background-color: $for_btn_col;
        padding: 14px 16px 16px 37px;
        cursor: pointer;
        -webkit-transition: all .6s ease;
        -o-transition: all .6s ease;
        transition: all .6s ease;
        &:hover {
                background-color: $for_btnhov_col;
                color: #efefef;
        }
        .minisearch {
            position: relative;
            top: 5px;
            width: 20px;
            height: 20px;
            fill: $base_color;
            margin-left: 15px;
        }
    }
}

.header {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: inherit;
    width: 100%;
    max-width: inherit;
    z-index: 99;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    background-color: $for_btn_col;
    .nav_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 100%;
        .logo {
            @include fz(24);
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    &.fixed{
        -webkit-box-shadow: 0 0 3px #999;
                box-shadow: 0 0 3px #999;
        background-color: rgba(249, 248, 251, .9);
        -webkit-backdrop-filter: blur(3px);
                backdrop-filter: blur(3px);
    }
}
.nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
        .list_item-link {
            display: inline-block;
            text-decoration: none;
            font-family: 'Aleo', serif;
            @include fz(14);
            line-height: 25px;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;
            border-bottom: 3px solid transparent;
            cursor: pointer;
            -webkit-transition: all .8s ease;
            -o-transition: all .8s ease;
            transition: all .8s ease;
            margin-left: 43px;
            &:hover {
                 border-bottom: 3px solid $base_color;
            }
            &:active {
                border-bottom: 3px solid $base_color;
        }
        
    }
        
}
.hamburger {
    display: none;
}

.content_wrap {
    width: calc(50% - 15px);
}
#who{
    background: $who_bg_col url(../images/fon_2.png) no-repeat;
    background-size: cover;
    width: 100%;
    padding: 120px 0 118px;
    .container{
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        .content_wrap {
            padding: 82px 0 10px;
            .content_h {
                margin-bottom: 57px;
            }
            .content_par{
                margin-bottom: 28px;
            }
            .mb{
                margin-bottom: 42px;
                
            }
        }
        .image_wrap {
            width: calc(50% - 15px);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            .image_top {
                margin: 0 125px 4px;
            }
        }
    }
}
// для резиновых картинок
.wrapper {
    position: relative; 
    width: 353px;
    &::before{
        content: '';
        padding-top: 62%;
        display: block;
        width: 100%;
    }
    img { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        
    }

}
// зделать, чтобы текст не прятался

.button {
    a{
        display: inline-block;
        text-decoration: none;
        font-family: 'Aleo', serif;
        @include fz(16);
        letter-spacing: 1.1px;
        line-height: 16px;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        background-color: $for_btn_col;
        padding: 22px 38px;
        cursor: pointer;
        -webkit-transition: all .6s ease;
        -o-transition: all .6s ease;
        transition: all .6s ease;
        position: relative;
        overflow: hidden;
        z-index: 2;
        &:after {
            content:'';
            position: absolute;
            top: 0;
            left: -30px;
            width: 50%;
            height: 100%;
            background-color: $for_halfbtn_col;
            -webkit-transition: all 1.2s ease;
            -o-transition: all 1.2s ease;
            transition: all 1.2s ease;
            -webkit-transform: skew(45deg);
                -ms-transform: skew(45deg);
                    transform: skew(45deg);
            z-index: -1;
        }
        &:hover:after {
            width: 150%;
           
        }
    }

}

// search
#search{
    background-color: $search_bg_col;
    padding: 98px 0 112px;
    .search_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%;   
        -webkit-box-pack: justify;   
            -ms-flex-pack: justify;   
                justify-content: space-between;
        position: relative;
        &::after{
            content: '';
            display: inline-block;
            width: 75%;
            height: 100%;
            background-image: url(../images/dots.png);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: contain;
            position: absolute;
            left: 12%;
            top: -40%;
            // z-index: 0;

        }
        svg {
            width: 62px;
            height: 62px;
            position: relative;
            overflow: hidden;
            background-color: $search_bg_col;
            cursor: pointer;
            margin-bottom: 24px;
            -webkit-transition: .6s all ease;
            -o-transition: .6s all ease;
            transition: .6s all ease;
            
        }
        .maxsearch{
            fill: $svg_s_col;
            &:hover{
                fill: $svg_s2_col;
            }
           
        }
        .bird {
            fill: $svg_b_col;
            &:hover{
                fill: $svg_b2_col;
            }
        }
        .finger {
            fill: $svg_f_col;
            &:hover{
                fill: $svg_f2_col;
            }
        }
        .search_content-item{
            width: calc(33.3333% - 15px);
            text-align: center;
            z-index: 2;
        }
    }
}
// для того, чтобы спрятать лишнее точки
.circle{
    position: relative;
     &::after{
        content: '';
        display: inline-block;
        width: 105px;
        height: 105px;
        background-color: $search_bg_col;
        border-radius: 50%;
        position: absolute;
        left: -24px;
        top: -90px;
        z-index: -1;
    }

}
// search
#what{
    width: 100%;
    background:$what_bg_col url(../images/fon_3.png) no-repeat;
    background-size: cover;
    padding: 230px 0 98px;
}
#what, #travel {
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        .content_wrap {
            padding: 50px 30px 46px;
            background-color: rgba($color: $search_bg_col, $alpha: .9);
            width: calc(50% - 15px);
            .section_ttl {
                opacity: .9;
                margin-bottom: 30px;
            }
            .section_ttl-up{
                margin-bottom: 21px;
            }
            .content_par {
                letter-spacing: .1px;
                margin-bottom: 43px;
            }
            a{
                padding: 22px 62px;
            }
        }
    }
}
#travel{
    width: 100%;
    background: $trav_bg_col  url(../images/fon_4.png) no-repeat;
    background-size: cover;
    padding: 230px 0 100px;
    .container {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
}
#review {
    width: 100%;
    background: $rev_bg_col url(../images/fon_5.png) no-repeat;
    background-size: cover;
    padding: 118px 0 200px;
    .content_h {
        text-align: center;
        margin-bottom: 94px;
    }
    .review_wrap {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: relative;
        img{
            width: 40%;
        }
    
    }
    .content_wrap {
        // задано для того, чтобы высота была такая же как и в картинки
        height: 284px;
        -webkit-box-flex: 2;
            -ms-flex-positive: 2;
                flex-grow: 2;
        padding: 51px 40px 40px 60px;
        background-color: #333;
        opacity: .9;
        .section_ttl {
            margin-bottom: 40px;
        }
        .content_par {
            letter-spacing: .1px;
            &:before {
                content: "“";
                font-family: Arial, Helvetica, sans-serif;
                font-size: 50px;
                position: relative;
                top: 5px;
                font-weight: 700;
                line-height: 0;
                display: inline-block;
                color:#5474fd;
            }
        }
    }
}

.footer {
    background-color: $foot_bg_col;
    width: 100%;
    padding: 120px 0 50px;
    .footer_wrap {
        max-width: 90%;
        width: 170px;
        margin: 0 auto;
        .maintitle {
            @include fz(24);
            line-height: 24px;
            margin-bottom: 12px;
            
        }
        .subtitle {
            @include fz(16);
            line-height: 16px;
            margin-bottom: 28px;
            letter-spacing: .5px;
            text-align: center;
        }
    }
}
.soc_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    li{
        a{
            text-decoration: none;
            color: $base_color;
            cursor: pointer;
            -webkit-transition: .6s all ease;
            -o-transition: .6s all ease;
            transition: .6s all ease;
            &:hover {
                color: $soc_hov_col;
            }
        }
    }
}
//  адаптация
// 
// 
// 
@import url(media.scss);

