@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSansRounded-100.woff2') format('woff2'),
         url('../fonts/MuseoSansRounded-100.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Museo', sans-serif;
    font-weight: 100;
    background: url(../images/fon.jpg) no-repeat;
    background-size: 100%;
}
.wrapper {
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} /*чтобы вся карточка с продуктом стала по срединке*/
.product {
    max-width:686px;
    display: flex;
    justify-content: space-between;
    background-color: #142032;
    border-radius: 9px;
    box-shadow: 0 0 65px rgba(0,0,0,.82);
    padding: 74px 55px 19px 36px;
    position: relative;
}
.product__logo {
    display: inline-block;
    position: absolute;
    top: 23px;
    left: 22px;
}
.gallery {
    width: 70%;
    margin-right: 78px;
}
.gallery_main {
    margin-bottom: 80px;
    margin-top: 35px;
}
.gallery__preview {
    width: 100%;
    list-style: none;
    text-align: center;
   
}
.gallery__item {
    display: inline-block; 
    border-radius: 50%;
    background-color: #fff;
    width: 9px;
    height: 9px;
    border: 2px solid transparent;  
    transition: all .5s ease;
    margin-right: 8px;
    cursor: pointer;
}
.gallery__item--last {
    margin-right: 0;
}
.gallery__item--hover:hover{
    transform: scale(2);
    border: 2px solid #7b8088;
}
.gallery__item--gray {
    background-color: #1f273f; 
}
.gallery__item--white {
    background-color: #fff;
}
.gallery__item--red {
    background-color: #ed3333;
}
.gallery__item--blue {
    background-color: #29e3ea;
}
.char__title {
    font-family: 'Museo', sans-serif;
    color: #e1e1e1;
    font-size: 24px;
    line-height: 26px;
    font-weight: 100;
    margin-bottom: 5px;
    opacity: .8;
}
.char__subtitle {
    font-family: 'Museo', sans-serif;
    color: #e1e1e1;
    font-size: 14px;
    font-weight: 100;
    line-height: 27px;
    margin-bottom: 12px;
    opacity: .4;

}
/*-----*/
a[href*="intent"] {
    display:inline-block;
}
/*  
 * Rating styles
 */
.rate {
    width: 76px;
    font-size: 18px;
    overflow:hidden;
    margin-bottom: 22px;
}
.rate input {
opacity: 0;
position: absolute;
}
.rate a,
.rate label {
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rate label:hover ~ label,
.rate input:focus ~ label,
.rate label:hover,
.rate a:hover,
.rate a:hover ~ a,
.rate a:focus,
.rate a:focus ~ a {
    color: orange;
    cursor: pointer;
}
.rate--left {
    direction: rtl;
}
/*-----*/
.form {
    margin-left: 2px;
}
.jq-selectbox__select {
    height: 32px;
    width: 70px;
    padding: 0 30px 0 14px;
    border: 1px solid #4f5560;
    border-bottom-color: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    font: 14px/32px 'Museo', sans-serif;
    font-weight: 100;
    color: #e1e1e1;
    text-shadow: none;
    opacity: .6;
    padding-left: 10px;
}
.jq-selectbox__select-text {
    width: 25px !important;
} /*необходимость, так как ширина текста в блоке задана где-то в другом месте)))) я помню, что импотант использовать ненужно*/
.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    border-left: none;
}
.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 5px;
    width: 0px;
    height: 0px;
    border-top: 5px solid rgb(153, 153, 153);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    /*не получилось установить эксперементальным путем, как сделать из того, что имею галочку, а не сплошной триугольничек*/
}
.jq-selectbox li.selected {
    background-color: transparent;
    font: 14px/32px 'Museo', sans-serif;
    color: #e1e1e1;
}
.jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 0;
    padding: 0;
    border: 1px solid #82d4e7;
    border-radius: 0;
    background: rgba(255, 255, 255, .2);
    box-shadow:none;
    font: 14px/32px 'Museo', sans-serif;
}
.jq-selectbox__select:hover {
    background: none;
}
.form__inner-select {
    margin-bottom: 30px;
}
.form__inner-button {
        display: inline-block;
        width: 100%;
        height: 40px;
        font-family: 'Museo', sans-serif;
        font-size: 14px;
        opacity: .6;
        font-weight: 100;
        text-align: center;
        border: none;
        border-radius: 0;
        cursor: pointer;
        line-height: 38px;
        background-color: rgba(255, 255, 255, .2);
        box-shadow: 0 0 2px 2px transparent;
        color: #e1e1e1;
}
.form__inner-button:hover{
    box-shadow: 0 0 2px 2px #82d4e7;
    color: #82d4e7;
}
.form__inner-button:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 2px 2px #82d4e7;
    color: #82d4e7;
}
/*все, задолбалась*/